/* irLFG.css, this file provides the css to the website pages , version 1 5/22/19, Sean Loughran, dependencies: none*/

body {
  background-image: url("background.png");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  font-family: 'Oswald', sans-serif;
}
button {
  width: 100px;
  font-family: 'Oswald', sans-serif;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
table {
  width: 25%;
  text-align: center;
}
th, td {
  font-weight: normal;
  padding: 10px;
}
input, textarea {
  width: 300px;
  height: 25px;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  border: none;
}
img {
  width: 575px;
  height: 260px;
  padding: 5px;
}
select {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Oswald', sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#map{
  width: 1525px; 
  height: 500px;
}
